<!doctype html>

<html lang="{{ it.lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ it.title || metas.title }} - {{ metas.site }}</title>

    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon.png">
    <link rel="canonical" href="{{ url |> url(true) }}">
  </head>
  <body class="bg-neutral-200">
    <header class="mx-auto py-4 px-6 {{ if '/' != url }} bg-gray-100 shadow{{ /if }}">
      <nav class="max-w-7xl mx-auto flex items-center justify-between">
        <a href="/" class="text-3xl font-light font-mark tracking-tight text-zinc-900">
          {{ metas.site }}
        </a>
        <ul class="flex items-center justify-end space-x-4 list-none">
        {{ if '/' != url }}
        {{- for entry of search.pages("menu.visible=true", "menu.order") }}
          <li>
            <a href="{{ entry.url }}" class="text-gray-800 hover:text-sky-600 {{ if entry.url == url }} font-semibold{{ /if }}"{{ if entry.url == url }} aria-current="page"{{ /if }}>
              {{ entry.menu.title || entry.title }}
            </a>
          </li>
        {{ /for }}
        {{ /if }}
          <li class="pl-2">
            <button class="bg-white font-sans hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow" data-cal-link="hirefrank/complimentary-consultation" data-cal-namespace="complimentary-consultation" data-cal-config='{"layout":"month_view"}'>Book a free consultation</button>
          </li>
        </ul>
      </nav>
    </header>

    <main class="container max-w-5xl mx-auto justify-center flex h-[calc(100vh-9rem)] {{ if '/' != url }} mt-10 {{ /if }}">
      {{ content }}
    </main>

    <footer class="container max-w-4xl mx-auto text-gray-600 text-center my-4 flex flex-col">
      <div class="flex items-center justify-center">
        <span class="pr-2">&copy; {{ new Date().getFullYear() }} Working Titles</span>
        <ul class="flex space-x-4 ml-4"> <!-- Add margin-left to space it from the copyright -->
          {{- for entry of search.pages("menu.visible=true", "menu.order") }}
            <li>
              <a href="{{ entry.url }}" class="text-zinc-600 hover:text-sky-600">
                {{ entry.menu.title || entry.title }}
              </a>
            </li>
          {{ /for }}
        </ul>
      </div>
    </footer>

    <!-- Current page: {{ url }} -->
    <!-- Cal element-click embed code begins -->
    <script type="text/javascript">
      (function (C, A, L) { let p = function (a, ar) { a.q.push(ar); }; let d = C.document; C.Cal = C.Cal || function () { let cal = C.Cal; let ar = arguments; if (!cal.loaded) { cal.ns = {}; cal.q = cal.q || []; d.head.appendChild(d.createElement("script")).src = A; cal.loaded = true; } if (ar[0] === L) { const api = function () { p(api, arguments); }; const namespace = ar[1]; api.q = api.q || []; if(typeof namespace === "string"){cal.ns[namespace] = cal.ns[namespace] || api;p(cal.ns[namespace], ar);p(cal, ["initNamespace", namespace]);} else p(cal, ar); return;} p(cal, ar); }; })(window, "https://app.cal.com/embed/embed.js", "init");
    Cal("init", "complimentary-consultation", {origin:"https://cal.com"});

      Cal.ns["complimentary-consultation"]("ui", {"styles":{"branding":{"brandColor":"#000000"}},"hideEventTypeDetails":false,"layout":"month_view"});
      </script>
      <!-- Cal element-click embed code ends -->
  </body>
</html>