<!doctype html>

<html lang="{{ it.lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ it.title || metas.title }} - {{ metas.site }}</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="canonical" href="{{ url |> url(true) }}">
  </head>
  <body class="bg-neutral-200">
    <header class="mx-auto py-4 px-6 {{ if '/' != url }} bg-gray-100 shadow{{ /if }}">
      <nav class="max-w-7xl mx-auto flex items-center justify-between">
        <a href="/" class="text-3xl font-light font-mark tracking-tight text-zinc-900">
          {{ metas.site.toLowerCase() }}
        </a>
        <ul class="flex items-center justify-end space-x-4 list-none">
          <li class="pl-2">
            <button class="bg-white font-sans hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow" data-cal-link="hirefrank/complimentary-consultation" data-cal-namespace="complimentary-consultation" data-cal-config='{"layout":"month_view"}'>
                <span class="hidden md:inline">
                  Book a free consultation
                </span>
                <span class="md:hidden">
                  Free consultation
                </span>
            </button>
          </li>
        </ul>
      </nav>
    </header>


    <main class="px-6 container max-w-5xl mx-auto justify-center flex min-h-[calc(95vh-9rem)] md:min-h-[calc(100vh-10rem)] {{ if '/' != url }} pt-4 md:pt-8 {{ /if }} max-h-auto">
      {{ content }}
    </main>

    <footer class="container max-w-4xl mx-auto text-gray-600 text-center my-4 flex flex-col">
      <div class="flex items-center justify-center">
        <span>&copy; {{ new Date().getFullYear() }} {{ metas.site }}</span>
        <ul class="flex space-x-4 ml-4">
          {{- for link of it.menu_links }}
            <li>
              <a href="{{ link.href }}" class="text-zinc-600 hover:text-sky-600">
                {{ link.text }}
              </a>
            </li>
          {{ /for }}
        </ul>
      </div>
    </footer>

    <!-- Current page: {{ url }} -->
    <!-- Cal element-click embed code begins -->
    <script type="text/javascript">
      (function (C, A, L) { let p = function (a, ar) { a.q.push(ar); }; let d = C.document; C.Cal = C.Cal || function () { let cal = C.Cal; let ar = arguments; if (!cal.loaded) { cal.ns = {}; cal.q = cal.q || []; d.head.appendChild(d.createElement("script")).src = A; cal.loaded = true; } if (ar[0] === L) { const api = function () { p(api, arguments); }; const namespace = ar[1]; api.q = api.q || []; if(typeof namespace === "string"){cal.ns[namespace] = cal.ns[namespace] || api;p(cal.ns[namespace], ar);p(cal, ["initNamespace", namespace]);} else p(cal, ar); return;} p(cal, ar); }; })(window, "https://app.cal.com/embed/embed.js", "init");
    Cal("init", "complimentary-consultation", {origin:"https://cal.com"});

      Cal.ns["complimentary-consultation"]("ui", {"styles":{"branding":{"brandColor":"#000000"}},"hideEventTypeDetails":false,"layout":"month_view"});
      </script>
      <!-- Cal element-click embed code ends -->
  </body>
</html>