---
layout: base.vto
---
<article>
  <h1>
    {{ if it.alttitle }}
      {{ it.alttitle }}
    {{ else }}
      {{ it.title }}
    {{ /if }}
  </h1>

 {{ if it.subtitle }} <h2>{{ it.subtitle }}</h2>{{ /if }}

  <div class="post-body">
    {{ content }}
  </div>
</article>