---
layout: layouts/base.vto
bodyClass: body-home
title: Home
---

<header>
  <h1 class="text-6xl font-sans font-normal mb-10">{{ home.welcome }}</h1>
  <p class="text-3xl font-sans font-light mb-10">{{ home.intro }}</p>
</header>

<hr>
